body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 90px;
}

.links a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: 0.4s ease;
}

.links a:hover {
  color: #FA4A0C;
}

.bbob {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 60px 0;
}

.hcontent {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.header span {
  color: white;
}

.hhf {
  font-size: 28px;
  text-align: center;
  font-weight: 700;
}

.hhs {
  font-weight: 700;
  font-size: 58px;
  text-align: center;
}

.pp {
  font-size: 26px;
}

.appsbl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.storeb {
  width: 206px;
  padding: 16px 0;
  font-size: 24px;
  border-radius: 30px;
  color: white;
  border: none;
  cursor: pointer;
}

.pl {
  background-color: #FA4A0C;
  transition: 0.3s ease;
}

.pl:hover {
  background-color: #d13f0a;
}

.ap {
  background-color: transparent;
  border: 2px solid gainsboro;
  transition: 0.3s ease;
}

.ap:hover {
  background-color: gainsboro;
  color: black;
}

.mob {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.img {
  width: 900px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid gainsboro;
}

.img img {
  position: absolute;
  transform: translate(-80px, -150px);
}

.mob h1 {
  color: #000000;
  font-size: 44px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  gap: 200px;
}

.maincont {
  width: 650px;
}

.maincont h3 {
  font-size: 24px;
  color: #FA4A0C;
}

.maincont h1 {
  font-size: 37px;
  color: #252B42;
}

.maincont p {
  font-size: 20px;
  color: #737373;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
}

.soc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.soc img {
  width: 40px;
}

footer p {
  font-size: 12px;
  color: #5C5C5C;
  font-weight: 600;
}